body {
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(/img/background.jpg);

    min-block-size: 100%;
    min-inline-size: 100%;
    box-sizing: border-box;
    display: grid;
    place-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: min(200%, 5vmin);
    text-align: center;
    color: white;

}

#oberflaeche{
    width: 399px;
    height: 399px;
    background: #0c0c0c;
    border: 5px solid #4f4193;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#oberflaeche img{
    width: 131px;
    height: 131px;
    border: 1px solid #4f4193;
}


.buttons {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #4f4193;
    background: transparent;
    color: #4f4193;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.buttons:hover {
    transition: all 500ms ease;
    background-color: #4f4193;
    color: white;
}
.buttonsdiv {
    padding: 50px;
    text-align: center;
}
.buttons_minigame {
    width: 250px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #4f4193;
    background: transparent;
    color: #4f4193;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.buttons_minigame:hover {
    transition: all 500ms ease;
    background-color: #4f4193;
    color: white;
}
.buttonsdiv_minigame {
    text-align: center;
}